@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="fleetmanager" Icon="@(new Icons.Regular.Size20.Table())" IconColor="Color.Accent">FleetManager</FluentNavLink>
            <FluentNavLink Href="globe" Icon="@(new Icons.Regular.Size20.GlobeSearch())" IconColor="Color.Accent">Globe</FluentNavLink>
            <FluentNavLink Href="c2" Icon="@(new Icons.Regular.Size20.GlobeSearch())" IconColor="Color.Accent">C2</FluentNavLink>
            <FluentNavLink Href="commanderdashboard" Icon="@(new Icons.Regular.Size20.GlobeSearch())" IconColor="Color.Accent">C2 - Commander</FluentNavLink>
            <FluentNavLink Href="physiciandashboard" Icon="@(new Icons.Regular.Size20.GlobeSearch())" IconColor="Color.Accent">C2 - Physician</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
